body, html {
  background-color: transparent;
}

section {
  max-height: 100vh;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  background-color: transparent;
  display: grid;
  grid-template-rows: min(calc(100% - 32px), 256px) 32px;
  place-items: center;
}

section img {
  object-fit: contain;
}

h2 {
  color: lightgrey;
  font-weight: 900;
}

h2.alarm {
  color: rgb(176, 7, 41);
}
h2.yellow {
  color: rgb(176, 173, 7);
}
